/* mari q css */

/* header and title stuff */

header {
  padding-top: 2em;
  padding-bottom: .5em;
}

.mari-q {
  display: block;
  top: 0;
  width: 100%;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-left: 1em;
}

h2 {
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 50px;
  padding-top: .5em;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #191A1B;
  margin: 0;
  overflow-x: hidden;
}

nav {
  background-color: #F1F1F1;
}

p {
  margin: 2em;
  font-size: 20px;
  text-indent: 2em;
  line-height: 1.5;
}

/* links */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1F1F1;
  color: #191A1B;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  font-size: 20px;
  padding-left: 2em;
}

li a {
  display: block;
  color: #191A1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #191A1B;
}

a:hover {
  color: #D969C4;
  text-decoration: none;
}

a:active {
  color: #84339A;
}

/* images */

.info {
  text-align: center;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

img.portrait:hover,
img.landscape:hover {
  opacity: .8;
}

.portrait {
  border-radius: 10%;
}

.landscape {
  border-radius: 15%;
}

.row {
  padding: 2em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #E5A3D3;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.active,
.demo:hover {
  opacity: 1;
}
