/* mari q css */

/* Main selectors */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #191A1B;
  margin: 0;
  overflow-x: hidden;
}

p {
  margin: .5em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #191A1B;
}

a:active {
  color: #84339A;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

nav {
  background-color: #F1F1F1;
}

header {
  padding-top: 2em;
  padding-bottom: .5em;
  background-color: #F1F1F1;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-left: 1em;
}

h2 {
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 1em;
}

h3 {
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 40px;
  padding-top: 1em;
}

h4 {
  text-align: center;
  font-size: 22px;
}

/* Main classes */
.mari-q {
  display: block;
  top: 0;
  width: 100%;
}



.active {
  color: #D969C4;
}

.indent {
  text-indent: 2em;
}

.info {
  text-align: center;
  font-size: 18px;
}

/* Links page */
.links p {
  font-size: 18px;
  line-height: 1.5;
}

.links ul {
  font-size: 18px;
  margin-left: 2em;
  margin-right: 2em;
}

.links a {
  text-align: inherit;
}

.links a.active {
  font-weight: bold;
}

.links a:not(.active) {
  text-decoration: underline;
}

/* Contacts page */
.contacts ul {
  float: left;
  text-align: left;
  font-size: 25px;
  line-height: 2;
  list-style-type: none;
}

.contacts a {
  text-align: left;
}



/* links */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  color: #191A1B;
  top: 0;
}

.navbar li {
  float: left;
  font-size: 20px;
  padding-left: 2em;
}

/* .nava li {
  float: left;
  width: 50%;
  list-style-type: none;
} */

li a {
  display: block;
  color: #191A1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav ul {
  display: block;
  width: 200px;
  line-height: .3;
  float: none;
  text-align: left;
}

.navbar a:hover,
a:hover {
  color: #D969C4;
  text-decoration: none;
}

/* images */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 2em;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
}

.profile img {
  width: auto;
  max-height: 500px;
  float: left;
  margin: 2em;
}

.portrait {
  border-radius: 10%;
}

.landscape {
  border-radius: 15%;
}

img.portrait:hover,
img.landscape:hover {
  opacity: .8;
}

/* Modal stuff */
.modal {
  display: none;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
} */

.modal-info {
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  padding-bottom: 100px;
  padding-top: 10px;
}

/* NEED THIS */
.myartModal img {
  width: 80%;
  height: auto;
  max-width: 800px;
  align-content: center;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

/* .cursor {
  cursor: pointer;
} */

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 80px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.caption-container {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* .topside img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  min-width: 180px;
  max-width: 180px;
} */

.topside p {
  text-align: center;
  margin: 2em;
  font-size: 20px;
}

/* Carousel stuff. Delete later */
/* .carousel-item img {
  max-height: 75%;
  max-width: 75%;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-radius: 12px;
} */

/* .mySlides {
  margin:auto;
  display: block;
  height: inherit;
  width: auto;
}

.mySlides img {
  max-height: 640px;
  width: auto;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
} */

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #E5A3D3;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
