/* mari q css */

h1 {
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-left: 1em;

}

.mari-q {
  display: block;
  top: 0;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #191A1B;
  margin: 0;
}

p {
  margin: 2em;
  font-size: 20px;
  text-indent: 2em;
  line-height: 1.5;
}

h2 {
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 40px;
  padding-top: .5em;
}

/*
ul {
  list-style-type: none;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 20%;
  line-height: 2.5;
  color: #191A1B;
  background-color: #F1F1F1;
}

a {
  display: block;
  width: 300px;
  margin-left: 1em;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
  color: #191A1B;
  font-size: 23px;
}
*/
/* for vertical navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1F1F1;
  color: #191A1B;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  font-size: 20px;
  padding-left: 2em;
}

li a {
  display: block;
  color: #191A1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #191A1B;
}

a:hover {
  color: #D969C4;
}

a:active {
  color: #84339A;
}

.info {
  text-align: center;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
