<header>
  <div class="mari-q">
    <a href="index.html">
      <h1 id="topside">Mari Q. Collas</h1>
    </a>
  </div>
</header>

  <nav>
    <div class="navbar">
      <ul>
        <li class="stuff">
          <a href="index.html">About Me</a>
        </li>
        <li>
          <a href="writtenworks.html">Written Works</a>
        </li>
        <li>
          <a href="#">Graphic Design</a>
        </li>
        <li>
          <a href="digital-art.html">Digital Art</a>
        </li>
        <li>
          <a href="traditional-art.html">Traditional Art</a>
        </li>
        <li>
          <a href="links.html">External Projects</a>
        </li>
      </ul>
    </div>
  </nav>
